@media only screen and (min-width: 551px) {
  body {
    margin: 1.25rem;
  }
}

body {
  background-color: #eee;
  font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "Noto Sans CJK TC",
    "微軟正黑體", "Microsoft Jhenghei", "MS P Gothic", "ＭＳ Ｐゴシック",
    sans-serif;
}

[x-cloak] { display: none !important; }

.no-borders {
  border-collapse: collapse;
}

select {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.125rem;
}

#options {
  margin-bottom: 1.25rem;
}

#options td {
  border: none;
  padding-left: 0px;
  padding-right: 0.75rem;
}

.analyze-rating__buttons {
  display: flex;
}

.analyze-rating__button {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: initial;

  margin-top: 1rem;
  margin-right: 0.5rem;
  padding: 0.4rem 1.25rem;
  cursor: pointer;
  border: 0.125rem solid #999;
  /* font-size: 1.25rem; */
}

.analyze-rating__button-text {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 8rem;
  height: 2rem;
}

.analyze-rating__description {
  margin-top: 0.5em;
  width: 550px;
}

.analyze-rating__mf_i_said_android_only_please_read {
  font-size: 1.35rem;
}

.separator {
  margin-top: 1.75rem;
}

.rating-type {
  padding-right: 0.5rem;
}

.rating-value {
  text-align: right;
}

.rating__total {
  font-size: 1.25rem;
  background-color: #111;
  display: inline-block;
  color: #eee;
  padding: 0.25rem 1.25rem;
  margin-bottom: 0.25rem;
}

.rating__description {
  margin-top: 0.83rem;
  margin-bottom: 1.25rem;
  width: 550px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#charts {
  border: 0.125rem solid #999;
}

#charts thead {
  background: #999;
  color: #eee;
}

#charts thead th {
  padding: 0.4rem;
  font-weight: bold;
}

.chart-row:nth-child(2n) {
  background-color: rgba(90, 90, 90, 0.1);
}

.chart-row td {
  padding: 0.2rem;
  font-weight: bold;
  box-sizing: border-box;
}

.chart-row__ranking,
.chart-row__achievement {
  text-align: right;
}

.chart-row__difficulty,
.chart-row__level,
.chart-row__rank,
.chart-row__rating {
  text-align: center;
}

.chart-row__easy {
  color: rgb(0, 135, 255);
}

.chart-row__basic {
  color: #49b63e;
}

.chart-row__advanced {
  color: #fb9c2d;
}

.chart-row__expert {
  color: #f64861;
}

.chart-row__master {
  color: #9e45e2;
}

.chart-row__remaster {
  color: #bd6bd5;
}

.chart-row__宴 {
  color: rgb(79, 0, 81.6);
}

.faq {
  width: 550px;
}
